.standard_template__footer {
    position: sticky;
    bottom: 0;
    height: 4.5vh;
    width: 100%;
    background-color: #B9BD5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    z-index: 110;

    & .logo img {
        height: calc(4.5vh - 1px);
    }

    & .copy {
        font-weight: 600;
        color: white;
    }

    @media screen and (max-width: 720px) {
        justify-content: center;

        & .copy {
            display: none;
        }
    }
}