:root {
    scroll-behavior: smooth;
}

:root,
* {
    font-family: 'Bariol';
    font-size: 14px;
}

body {
    background-color: #fff;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'Bariol';
    src: url(../Fonts/Bariol/Bariol-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    src: url(../Fonts/Bariol/Bariol-RegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Bariol';
    font-weight: 500;
    src: url(../Fonts/Bariol/Bariol-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Bariol';
    font-weight: 500;
    font-style: italic;
    src: url(../Fonts/Bariol/Bariol-ThinItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Bariol';
    font-weight: 600;
    src: url(../Fonts/Bariol/Bariol-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Bariol';
    font-weight: 600;
    font-style: italic;
    src: url(../Fonts/Bariol/Bariol-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Bariol Light';
    src: url(../Fonts/Bariol/Bariol-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Bariol light';
    font-style: italic;
    src: url(../Fonts/Bariol/Bariol-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Dancing-Script';
    src: url(../Fonts/DancingScript/DancingScript.woff2) format('truetype');
}